<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437547043062-dfkkhlk3p39itih42k300kef6utfrk44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437547043062-dfkkhlk3p39itih42k300kef6utfrk44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437547043062-6ic4n5tllftc7uf21llhg50nnopfe0fi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKIBIeCaAnJVbAsNmC65eJWQs4HxVDeh4</string>
	<key>GCM_SENDER_ID</key>
	<string>437547043062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sample-2bc88</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-2bc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437547043062:ios:7a7ebca052b85928f6c4d7</string>
</dict>
</plist>